.DS_Store
.dart_tool/
.packages
.pub-cache/
.pub/
build/
*.iml
.idea/
.vscode/
*.log

# Android
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/
android/key.properties
*.jks
*.keystore

# Flutter
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
